In [1]:
import pandas as pd
df = pd.read_csv('Starfish_Data.csv')
df.head()

   #Vmag  logL  Prob
0   8.88  2.65     1
1   8.88  2.65    28
2   8.88  2.65    72
3   9.03  2.54     0
4   9.03  2.54    13

In [2]:
df.drop(df.index[df['Prob']==0], inplace =True)
df.head()

   #Vmag  logL  Prob
0   8.88  2.65     1
1   8.88  2.65    28
2   8.88  2.65    72
4   9.03  2.54    13
5   9.03  2.54    87

In [3]:
def distance(v,lL):
    x=0.2*(v+2.5*lL+0.17)
    return 10**x

In [4]:

df["distance"]=distance(df['#Vmag'],df['logL'])
df.head()

   #Vmag  logL  Prob     distance
0   8.88  2.65     1  1364.583137
1   8.88  2.65    28  1364.583137
2   8.88  2.65    72  1364.583137
4   9.03  2.54    13  1288.249552
5   9.03  2.54    87  1288.249552

In [5]:
df["weights"]=df["distance"]*df["Prob"]/100
df.head()

   #Vmag  logL  Prob     distance      weights
0   8.88  2.65     1  1364.583137    13.645831
1   8.88  2.65    28  1364.583137   382.083278
2   8.88  2.65    72  1364.583137   982.499858
4   9.03  2.54    13  1288.249552   167.472442
5   9.03  2.54    87  1288.249552  1120.777110

In [6]:
import numpy as np
n=len(df.index)
avg=np.sum(df['weights'])/n

In [7]:
print("The distance of the Starfish Cluster from the earth is:",avg,"parsecs")

The distance of the Starfish Cluster from the earth is: 1052.1665333469966 parsecs