In [1]:
import pandas as pd
df = pd.read_csv('/home/aryan/Desktop/compastro_main/Starfish_Data.csv')
df.head()

   Vmag  logL  Prob
0  8.88  2.65     1
1  8.88  2.65    28
2  8.88  2.65    72
3  9.03  2.54     0
4  9.03  2.54    13

In [2]:
def distance(v,lL):
    x=0.2*(v+2.5*lL+0.17)
    return 10**x

In [3]:

df["distance"]=distance(df['Vmag'],df['logL'])
df.head()

   Vmag  logL  Prob     distance
0  8.88  2.65     1  1364.583137
1  8.88  2.65    28  1364.583137
2  8.88  2.65    72  1364.583137
3  9.03  2.54     0  1288.249552
4  9.03  2.54    13  1288.249552

In [4]:
df["weights"]=df["distance"]*df["Prob"]/100
df.head()

   Vmag  logL  Prob     distance     weights
0  8.88  2.65     1  1364.583137   13.645831
1  8.88  2.65    28  1364.583137  382.083278
2  8.88  2.65    72  1364.583137  982.499858
3  9.03  2.54     0  1288.249552    0.000000
4  9.03  2.54    13  1288.249552  167.472442

In [5]:
import numpy as np
n=len(df.index)
avg=np.sum(df['weights'])/n
print(avg)

1022.9396851984691

In [6]:
print("The distance of the Starfish Cluster from the earth is:",avg,"parsecs")

The distance of the Starfish Cluster from the earth is: 1022.9396851984691 parsecs